/* pixelify-sans-latin-wght-normal */
@font-face {
  font-family: 'Pixelify Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 400 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/pixelify-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --primary-color: lightblue;
  --secondary-color: maroon;
  --tertiary-color: rgb(120, 108, 215);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Pixelify Sans Variable';
}

h1 {
  position: relative;

}

h1 button {
  position: absolute;
  right: 0;
  transform: translate(110%, -50%);
  /* z-index: 2; */
  /* Always on top of everything. Think of the screen like a flat surface. */
}

/* Button Styles */
.btn {
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  border-width: 3px;
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 15px;
}

.btn-small {
  font-size: 12px;
  padding: 5px 10px;
}

.btn-ghost {
  border: 0;
  background-color: transparent;
}

.clear {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

/* styling the cards  */
.cards {
  perspective: 1000px;
  position: relative;
  height: 300px;
  width: 500px;
  max-width: 100%;
}

.card {
  position: absolute;
  opacity: 0;
  font-size: 1.2em;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(50%) rotateY(-10deg);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.card.active {
  cursor: pointer;
  opacity: 1;
  z-index: 10;
  transform: translateX(0) rotateY(0deg);
}

.card.left {
  transform: translateX(-50%) rotateY(10deg);
}

.card.right {
  transform: translateX(50%) rotateY(-10deg);
}

.inner-card {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: relative;
  /* This allows the element to exist on its 3D plane */
  transform-style: preserve-3d;
  transition: transform 0.4s ease;
}

.card.show-answer .inner-card {
  transform: rotateX(180deg);
}

.inner-card-front,
.inner-card-back {
  /* we need to allow the cards to move flip and be visible */
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: whitesmoke;
}

.inner-card-front {
  transform: rotateX(0deg);
  z-index: 2;
}

.inner-card-back {
  transform: rotateX(180deg);
}


/* Pseudo selector 'after' allows for content to be added after these elements */
.inner-card-front::after,
.inner-card-back::after {
  content: '\f021  Flip';
  /*This is method to pull unicode*/
  font-family: 'Font Awesome 6 Free';
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  font-size: 16px;
  color: var(--secondary-color);
}

/* Explanation: Unicode allows us to access the "Overwhelming" symbols within the Unicode database. If it is registered within Unicode it can be used by the computer.  */

.navigation {
  display: flex;
  margin: 20px 10px;
}

.navigation .nav-button {
  border: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
}

.navigation p {
  margin: 0 25px;
}

.add-container {
  opacity: 0;
  z-index: -1;
  background-color: var(--primary-color);
  border-radius: 20px;
  border-top: 3px solid;
  border-right: 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 75%;
  transition: 0.3s ease;
}

.add-container.show {
  opacity: 1;
  z-index: 1;
}

.add-container h3 {
  margin: 30px 0;
  font-size: 30px;
}

.add-container label {
  display: block;
  margin: 20px 0 10px;
}

.form-group textarea {
  border: 3px solid;
  border-color: var(--secondary-color);
  border-radius: 20px;
  font-size: 15px;
  padding: 12px;
  min-width: 400px;
  max-width: 90%;
}